<div class="container" fxLayout="column">
  <div class="content">
    <h1 class="header">About</h1>

    <p>
      I live in Boulder, Colorado. Naturally, I enjoy biking, especially at night with the stars, hiking and snowboarding.
    </p>

    <p>
      I adore Typescript and its loosely goose feel. Typescript's flexibility and tools, especially when it comes to decorators, are amazing!
    </p>

    <p>
      I am Kyle Pfromer. A software developer that likes to bike, hike, and snowboard. I did the Colorado Trail.
    </p>
  </div>
</div>
