<div class="container">
  <div class="content" fxLayout="column">

    <h1 class="header" fxFlex="nogrow">Portfolio</h1>

    <div class="list" fxFlex="nogrow" fxLayout="row wrap" fxLayoutAlign="center">

      <!-- TODO: see https://tburleson-layouts-demos.firebaseapp.com/#/responsive-->

      <div fxLayout="column">
        <h3 fxFlex="nogrow">nestjs typegoose</h3>

        <p fxFlex="nogrow">
          A typegoose wrapper library for nestjs.
        </p>

        <p fxFlex></p>

        <div fxFlex="nogrow">
          <a target="_blank" href="https://www.github.com/kpfromer/nestjs-typegoose">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
          <a target="_blank" href="https://www.npmjs.com/package/nestjs-typegoose">
            <fa-icon [icon]="['fab', 'npm']"></fa-icon>
          </a>
        </div>
      </div>

      <div fxLayout="column">
        <h3 fxFlex="nogrow">dependency injection</h3>

        <p fxFlex="nogrow">
          A library that injects services and custom tokens.
        </p>

        <p fxFlex></p>

        <div fxFlex="nogrow">
          <a target="_blank" href="https://github.com/kpfromer/dependency-injection-typescript">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
        </div>
      </div>

      <div fxLayout="column">
        <h3 fxFlex="nogrow">Angular Frontend</h3>

        <p fxFlex="nogrow">
          The angular frontend for the smarttodo app.
        </p>

        <p fxFlex></p>

        <div fxFlex="nogrow">
          <a target="_blank" href="https://github.com/kpfromer/smarttodo-angular">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
        </div>
      </div>

      <div fxLayout="column">
        <h3 fxFlex="nogrow">Nestjs Backend</h3>

        <p fxFlex="nogrow">
          The nestjs backend for the smarttodo app.
        </p>

        <p fxFlex></p>

        <div fxFlex="nogrow">
          <a target="_blank" href="https://github.com/kpfromer/smarttodo-nest">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
